<section style="height: 400px;" class="job-searcing af">
    <div style="height: 400px;" class="container">
        <div style="height: 400px;" class="row">
            <div style="height: 400px;" class="col-md-12 col-sm-12">
                <div style="height: 400px;" class="search-con">
                    <div class="row">
                        <div style="margin-top: 20px;" class="col-md-12 col-sm-12">
                            <div class="heading_con">
                                <h2 style="font-size: 50px;">MANAGE YOUR
                                    TEAM</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>
<div class="categories-area">
    <div class="container"></div>
    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1">
        <div class="row">
            <div class="categories" style="border-radius: 8px; width:260px;height:260px;">
                <a style="border-radius: 8px; width:260px;height:260px;">
                    <img style="border-radius: 8px; width: 100%;height: 100%;" src="assets/images/rabia/profil.png"
                        alt="">
                </a>
            </div>
            <br><br>
            <br>
            <br>
            <br>



            <div style="width:40px"></div>
            <div style=" flex-direction: column;display: flex; justify-content: center; align-items: left;">
                <br>
                <br>
                <br>
                <br>
                <br>

                <h5 style="font-weight: 600;font-size: 1.5rem; line-height: 1.5rem; color: rgb(163, 163, 163);">
                    Team
                </h5>
                <h5 style="font-weight: 700;font-size: 4.6rem; line-height: 0rem;">
                    {{ resume.comments}}
                </h5>
                <div style="height: 27px;"></div>

                <h5 style="font-weight: 600;font-size: 2rem; line-height: 2.5rem; color: rgb(163, 163, 163);">
                    {{ resume.game}} | {{resume.platform}} | {{resume.region}}
                </h5>
            </div>
            <div style="width:450px"></div>

        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="profile-container">
                <div class="profile-block" style="display: flex; justify-content: center;align-items: center;">
                    <img style="height: 27px; width: 27px;" src="assets/images/rabia/star.png" alt="Diamond">
                    <div style="width:10px"></div>
                    <p class="not-premium">NOT PREMIUM</p>
                </div>
                <div class="profile-block views">
                    <p><strong>{{views}}</strong><br> views</p>
                </div>
                <div class="profile-block contacts">
                    <p><strong>0</strong><br> no contact from teams yet</p>
                </div>

                <div class="level-container">
                    <h3>LEVEL</h3>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                </div>
                <br>

            </div>
            <div style="width:900px" class="profile-info-container">
                <div class="profile-section">
                    <h3>AMBITION</h3>
                    <p>{{ resume.ambitions || 'No ambition yet' }}</p>
                </div>
                <div class="profile-section profile-row">
                    <div class="profile-column">
                        <h3>ONLINE EXPERIENCE</h3>
                        <p *ngFor="let item of items1">{{ item }}</p>
                        <p *ngIf="items1.length === 0">No experiences yet</p>
                    </div>
                    <div class="profile-column">
                        <h3>OFFLINE EXPERIENCE</h3>
                        <p *ngFor="let item of items2">{{ item }}</p>
                        <p *ngIf="items2.length === 0">No experiences yet</p>
                    </div>
                </div>
                <div class="profile-section">
                    <h3>DESCRIPTION</h3>
                    <p>{{ resume.description || 'No description yet' }}</p>
                </div>
                <div class="profile-section profile-row">
                    <div class="profile-column">
                        <h3>REQUIREMENTS</h3>
                        <p *ngFor="let item of items5">{{ item }}</p>
                        <p *ngIf="items5.length === 0">No experiences yet</p>
                    </div>
                    <div class="profile-column">
                        <h3>
                            Sponsors</h3>
                        <p *ngFor="let item of items4">{{ item }}</p>
                        <p *ngIf="items4.length === 0">No experiences yet</p>
                    </div>
                </div>

                <div class="profile-section">
                    <h3>LINKS</h3>
                    <p *ngFor="let item of items3">{{ item }}</p>
                    <p *ngIf="items3.length === 0">No links yet</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div style="margin-left: auto; margin-right: auto; width: 70%; text-align: center;">
        <div class="title">{{offers.length}} RECRUITMENT OFFERS</div>
        <div class="subtitle">CONSULT OFFERS AND APPLY TO JOIN THIS TEAM</div>
    </div>

    <div *ngFor="let offer of offers">
        <div class="offer" *ngIf="offer.actif">
            <div class="details">
                <img style="margin-left: 2%; height: 45px; width: 45px;"
                    src="assets/images/rabia/{{offer.teamType}}.png" alt="Check">
                <!-- Remplacez par vos icônes spécifiques -->
                <div>
                    <div style="font-size:medium; columns: #c2c1c6; ">( {{console}} ) {{offer.comments}}
                        {{offer.teamType}}
                    </div>
                    <div style="font-size:small;font-weight:100; color: #95949d;">{{offer.appOffre!.length}}
                        applications from
                        gamers</div>
                    <!-- Sous-titre -->
                </div>
            </div>
            <div class="time">
                <div style="font-size:medium; color: #c2c1c6; ">26 DAYS</div>
                <div style="font-size:small;font-weight:100; color: #95949d;">before expiration</div>
                <!-- Sous-titre -->
            </div>
            <div class="age">
                <div style="font-size:medium; color: #c2c1c6;">{{offer.comments2}}+</div>
                <div style="font-size:small;font-weight:100;color: #95949d;">minimum age</div> <!-- Sous-titre -->
            </div>

            <button (click)="show(offer.id!)" class="b11">SHOW OFFER</button>
        </div>
    </div>
</div>