<button (click)="r()">create</button>
<a [routerLink]="['resume']">sss</a>
<section class="job-searcing af">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="search-con">
                    <div class="row">
                        <div style="margin-top: 60px;" class="col-md-12 col-sm-12">
                            <div class="heading_con">
                                <h2 style="font-size: 50px;">GET RECRUITED OR RECRUIT FOR YOUR TEAM

                                </h2>
                                <h3>WELCOME TO THE 1ST GAMER'S RECRUITMENT BOARD</h3>

                            </div>
                            <br>
                            <br>
                            <br>
                            <br>

                            <button class="btn1">see features list</button>



                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="categories-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="intro">
                    <h4>Browse some featured categories</h4>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">

                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">
                    <a href="#">

                        <img style="width: 100%;height: 100%;" src="assets/images/banner/p1.png" alt="">

                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">
                    <a href="#">
                        <img style="width: 100%;height: 100%;" src="assets/images/banner/p2.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">
                    <a href="#">
                        <img style="width: 100%;height: 100%;" src="assets/images/banner/p3.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories">
                    <a href="#">
                        <img style="width: 100%;height: 100%;" src="assets/images/banner/p4.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12">
                <div class="categories last">

                </div>
            </div>
        </div>
    </div>
</div>
<section class="featured-jobs section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-heading">
                    <h2>Featured Games</h2>
                    <p>A better career is out there. We'll help you find it. We're your first step to becoming
                        everything you want to be.</p>
                </div>
            </div>
        </div>
        <div class="jobs_area">
            <div class="jobs">
                <div class="jobs_items">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/12.png" alt=""></figure>
                                    <span class="color1">Part Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Marketing Manager</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/13.png" alt=""></figure>
                                    <span class="color2">Full Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Front-End Developer</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/14.png" alt=""></figure>
                                    <span class="color3">Contract</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Female Teacher</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/15.png" alt=""></figure>
                                    <span class="color4">Temporary</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Brand Sales Manager</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/16.png" alt=""></figure>
                                    <span class="color1">Part Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Web Developer – PHP</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/17.png" alt=""></figure>
                                    <span class="color2">Full Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Cashier For Bank…</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jobs_items">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/14.png" alt=""></figure>
                                    <span class="color3">Contract</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Female Teacher</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/15.png" alt=""></figure>
                                    <span class="color4">Temporary</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Brand Sales Manager</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/12.png" alt=""></figure>
                                    <span class="color1">Part Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Marketing Manager</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/13.png" alt=""></figure>
                                    <span class="color2">Full Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Front-End Developer</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/16.png" alt=""></figure>
                                    <span class="color1">Part Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Web Developer – PHP</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/17.png" alt=""></figure>
                                    <span class="color2">Full Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Cashier For Bank…</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="jobs_items">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/16.png" alt=""></figure>
                                    <span class="color1">Part Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Web Developer – PHP</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/17.png" alt=""></figure>
                                    <span class="color2">Full Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Cashier For Bank…</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/12.png" alt=""></figure>
                                    <span class="color1">Part Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Marketing Manager</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/13.png" alt=""></figure>
                                    <span class="color2">Full Time</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Front-End Developer</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/14.png" alt=""></figure>
                                    <span class="color3">Contract</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Female Teacher</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="items">
                                <div class="right-con">
                                    <figure><img src="assets/images/icons/15.png" alt=""></figure>
                                    <span class="color4">Temporary</span>
                                </div>
                                <div class="content">
                                    <h3><a href="#">Brand Sales Manager</a><button><i class="fa fa-heart"></i></button>
                                    </h3>
                                    <p>April 3, 2018</p>
                                    <ul>
                                        <li><span class="ico"><i
                                                    class="flaticon-briefcase-frontal-view"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                        <li><span class="ico"><i
                                                    class="flaticon-money-bag-with-dollar-symbol"></i></span><span
                                                class="con">$ 2500 - $ 3000</span></li>
                                        <li><span class="ico"><i class="flaticon-maps-and-flags"></i></span><span
                                                class="con">Intel Technologies</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color: transparent;" class="blog-area section">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12 pd-0">
                <div style="display: inline;" class="blog-slider">
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="/assets/images/rabia/cod2.jpg" alt=""
                                    style="width: 330px; height: 250px;" /></figure>
                            <div class="content">
                                <h4>Call of Duty: Modern Warfare</h4>
                                <p>Take part in the battle, gain levels, and join the ranks.</p>
                                <!-- <a href="#" class="btn2">READ MORE</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="/assets/images/rabia/fortnite.jfif" alt=""
                                    style="width: 330px; height: 250px; " /></figure>
                            <div class="content">
                                <h4>Fortnite</h4>
                                <p>Create, play, and battle with your friends for free in Fortnite. Be the last one
                                    standing in Battle Royale.</p>
                                <!-- <a href="#" class="btn2">READ MORE</a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="/assets/images/rabia/valorent.jpeg" alt=""
                                    style="width: 330px; height: 250px; " /></figure>
                            <div class="content">
                                <h4>Valorant</h4>
                                <p> 5v5 character-based tactical FPS where precise gunplay meets unique agent
                                    abilities.</p>
                                <!-- <a href="#" class="btn2">READ MORE</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="/assets/images/rabia/pubg.jpg" alt=""
                                    style="width: 330px; height: 250px;" /></figure>
                            <div class="content">
                                <h4>PUBG: BATTLEGROUNDS</h4>
                                <p>A battle royale that pits 100 players against each other. Outplay your opponents
                                    to become the lone survivor.</p>
                                <!-- <a href="#" class="btn2">READ MORE</a> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="blogs">
                            <figure><img src="/assets/images/rabia/lol.jfif" alt=""
                                    style="width: 330px; height: 250px; " /></figure>
                            <div class="content">
                                <h4>League of Legends </h4>
                                <p>League of Legends is a fast-paced, competitive online game that blends the speed
                                    and intensity of an RTS with RPG elements.</p>
                                <!-- <a href="#" class="btn2">READ MORE</a> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section style=" background-image: linear-gradient(90deg, #4c1c6c, #55011f);" class="counter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="counter-list">
                    <h2><span class="counter-anim">2554</span> +</h2>
                    <p>GAMES</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-list">
                    <h2><span class="counter-anim">2554</span> +</h2>
                    <p>TEAMS AND MULTIGAMINGS</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-list">
                    <h2><span class="counter-anim">5142</span> +</h2>
                    <p>GAMER'S RESUME</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-list">
                    <div class="counter-list">
                        <h2><span class="counter-anim">99999</span> +</h2>
                        <p>PLAYERS</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
<!--Categories area End here-->
<!--Features jobs area start here-->

<!--Features jobs area End here-->
<!--Banner area start here-->

<!--Banner area End here-->
<!--Company register area start here-->

<!--Company register area End here-->
<!--Banner area start here-->

<section class="banner-area2">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pd-0">
                <div style=" background: url(assets/images/banner/player.png) no-repeat center; background-image: linear-gradient(90deg,  #55011f,  #4c1c6c);"
                    class="banner-con left af jarallax">

                    <div class="con">

                        <h3>YOU ARE A</h3>
                        <h2>PLAYER</h2>
                        <p> You can create and publish your
                            CV where you can
                            put all your <br> gaming experiences on the game you love.</p>
                        <a (click)="r()" class="btn1" style="width: 300px;">CREATE RESUME</a>
                        <div style="display: inline; color: transparent;">m</div>
                        <a href="#" class="btn1" style="width: 300px;">SERCH TEAMS</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pd-0">
                <div style=" background: url(assets/images/banner/team.png) no-repeat center;;background-image: linear-gradient(90deg,#f5407f, #55011f);"
                    class="banner-con right af jarallax">
                    <div class="con">
                        <h3>YOU REPRESENT A</h3>
                        <h2>TEAM</h2>
                        <p>Access to hundreds of available players who are willing <br> to join a team.
                        </p>


                        <a href="#" class="btn1" style="width: 300px;">CREATE TEAM</a>
                        <div style="display: inline; color: transparent;">m</div>

                        <a href="#" class="btn1" style="width: 300px;">SEARCH PLAYERS</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="banner-area2">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pd-0">
                <div style=" background: url(assets/images/banner/22.png) no-repeat center; background-image: linear-gradient(90deg,#f5407f, #55011f); "
                    class="banner-con right af jarallax">
                    <div class="con">
                        <h3>YOU OWN A</h3>
                        <h2>MULTIGAMING</h2>
                        <p>You can create your multigaming and give itself a visibility boost while easing you
                            management of your squads with permissions management</p>
                        <a href="#" class="btn1" style="width: 300px;">CREATE MULTIGAMING</a>
                        <div style="display: inline; color: transparent;">m</div>
                        <a href="#" class="btn1">SEARCH MULTIGAMINGS</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pd-0">
                <div style=" background: url(assets/images/banner/1.png) no-repeat center;  background-image: linear-gradient(90deg,  #55011f,  #4c1c6c);"
                    class="banner-con left af jarallax">
                    <div class="con">
                        <h3>DISCOVER OTHER OFFERS ON</h3>
                        <h2>E-SPORT</h2>
                        <p>We got your back on this. You can publish offers that's not related <br> to a game to
                            offer your services.</p>
                        <a href="#" class="btn1" style="width: 300px;">YOUR E-SPORT OFFER</a>
                        <div style="display: inline; color: transparent;">m</div>
                        <a href="#" class="btn1" style="width: 300px;">ACCES E-SPORT OFFERS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Banner area End here-->
<!--Testimonial area start here-->
<section class="testimonial-area section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-heading">
                    <h2> WHAT MEMBERS
                        ARE SAYING ABOUT US </h2>
                    <p>Those feedbacks are taken from members or visitors that used our UserVoice widget or from our
                        Twitter. Only spelling mistakes were fixed.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1">
                <div class="testimonial-slider">
                    <div class="contentst">
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat.
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                ac turpis
                                egestas. Sed sed sagittis leo. Mauris aliquet sem sem, et accumsan ligula
                                consectetur id. Aenean arcu tortor” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat.
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                ac turpis
                                egestas. Sed sed sagittis leo. Mauris aliquet sem sem” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat.
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                ac turpis
                                egestas.” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat.
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                ac turpis
                                egestas. Sed sed sagittis leo. Mauris aliquet sem sem, et accumsan ligula
                                consectetur id. Aenean arcu tortor” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat.
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                ac turpis
                                egestas. Sed sed sagittis leo. Mauris aliquet sem sem” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat.
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                ac turpis
                                egestas.” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat.
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                ac turpis
                                egestas. Sed sed sagittis leo. Mauris aliquet sem sem, et accumsan ligula
                                consectetur id. Aenean arcu tortor” </h3>
                        </div>
                        <div class="content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <h3>“Donec ullamcorper in est eget venenatis. Nam malesuada pharetra placerat.
                                Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                ac turpis
                                egestas. Sed sed sagittis leo. Mauris aliquet sem sem” </h3>
                        </div>
                    </div>
                    <div class="thumb_content">
                        <div class="lists">
                            <figure style="border-radius: 50%; overflow: hidden;"><img
                                    src="assets/images/testimonial/1.jpg" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>

                            </div>
                        </div>
                        <div class="lists">
                            <figure><img style="border-radius: 50%; overflow: hidden;"
                                    src="assets/images/testimonial/2.jpg" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>

                            </div>
                        </div>
                        <div class="lists">
                            <figure><img style="border-radius: 50%; overflow: hidden;"
                                    src="assets/images/testimonial/3.jpg" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>

                            </div>
                        </div>
                        <div style="border-radius: 50%; overflow: hidden;" class="lists">
                            <figure><img src="assets/images/testimonial/4.jpg" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>

                            </div>
                        </div>
                        <div class="lists">
                            <figure><img style="border-radius: 50%; overflow: hidden;"
                                    src="assets/images/testimonial/5.jpg" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>

                            </div>
                        </div>
                        <div class="lists">
                            <figure><img style="border-radius: 50%; overflow: hidden;"
                                    src="assets/images/testimonial/6.jpg" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>

                            </div>
                        </div>
                        <div class="lists">
                            <figure><img style="border-radius: 50%; overflow: hidden;"
                                    src="assets/images/testimonial/8.jpg" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>

                            </div>
                        </div>
                        <div class="lists">
                            <figure><img style="border-radius: 50%; overflow: hidden;"
                                    src="assets/images/testimonial/9.jpg" alt="" /></figure>
                            <div class="name_user">
                                <h3>John Villiam</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>