<section style="height: 400px;" class="job-searcing af">
    <div style="height: 400px;" class="container">
        <div style="height: 400px;" class="row">
            <div style="height: 400px;" class="col-md-12 col-sm-12">
                <div style="height: 400px;" class="search-con">
                    <div class="row">
                        <div style="margin-top: 20px;" class="col-md-12 col-sm-12">
                            <div class="heading_con">
                                <h2 style="font-size: 50px;">MANAGE YOUR
                                    TEAM</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>
<div class="categories-area">
    <div class="container"></div>
    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1">
        <div class="row">
            <div class="categories" style="border-radius: 8px; width:260px;height:260px;">
                <a style="border-radius: 8px; width:260px;height:260px;">
                    <img style="border-radius: 8px; width: 100%;height: 100%;" src="assets/images/rabia/profil.png"
                        alt="">
                </a>
            </div>
            <br><br>
            <br>
            <br>
            <br>



            <div style="width:40px"></div>
            <div style=" flex-direction: column;display: flex; justify-content: center; align-items: left;">
                <br>
                <br>
                <br>
                <br>
                <br>

                <h5 style="font-weight: 600;font-size: 1.5rem; line-height: 1.5rem; color: rgb(163, 163, 163);">
                    Team
                </h5>
                <h5 style="font-weight: 700;font-size: 4.6rem; line-height: 0rem;">
                    {{ resume.comments}}
                </h5>
                <div style="height: 27px;"></div>

                <h5 style="font-weight: 600;font-size: 2rem; line-height: 2.5rem; color: rgb(163, 163, 163);">
                    {{ resume.game}} | {{resume.platform}} | {{resume.region}}
                </h5>
            </div>

            <div style="margin-left: 30%; display: flex; justify-content: center; align-items: center;">
                <button [routerLink]="['/teamprofil']" class="btn-outline">My Team</button>
            </div>
        </div>

    </div>
</div>
<section class="my-sections">
    <div class="container">
        <div class="section">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="section-title">RECRUITMENT CENTER</h2>
                <div>


                    <button (click)="push()" style="font-size: 90%; border-radius: 5px; width: 250px;"
                        class="b11">PUBLISH A
                        RECRUITMENT OFFER</button>
                    <div style="height: 10px;"></div>
                </div>
            </div>
            <div *ngIf="!offres?.length" class="card">
                <br>
                <img style="width: 100px; height: 100px;" src="assets/images/rabia/mot-de-passe.png" alt="">
                <br>

                <p style=" color: #c8c5c5;">NO OFFERS YET</p>
            </div>
            <div *ngIf="offres?.length">
                <table>
                    <thead>
                        <tr>
                            <th>PROFILE</th>
                            <th>PLAYER APPLICATIONS</th>
                            <th>STATUS</th>
                            <th>AVAILABILITY</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ofre of offres; let i = index"
                            [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}">
                            <td><img style="margin-right: 5%; height: 35px; width: 35px;"
                                    src="assets/images/rabia/{{ofre.teamType}}.png" alt="Check"> {{ofre.teamType}}
                                ({{ofre.comments}})
                            </td>
                            <td>{{ofre.appOffre?.length}} application</td>
                            <td><label class="switch">
                                    <input (click)="actif(ofre)" type="checkbox" [(ngModel)]="ofre.actif">
                                    <span class="slider round">
                                        <span class="switch-label"
                                            [ngClass]="{'switch-on': ofre.actif, 'switch-off': !ofre.actif}">
                                            {{ ofre.actif ? '' : 'off' }}
                                        </span>
                                    </span>
                                </label></td>
                            <td>30 days</td>
                            <td style="display: flex; justify-content: center; align-items: center; gap: 10px;"><button
                                    (click)="update(ofre.id!)" style="font-size: 90%; width: 90px; border-radius: 5px"
                                    class="b11">Update</button><button (click)="application(ofre.appOffre)"
                                    style="width:  49.2px; height: 49.2px; border-radius: 5px; display: flex; justify-content: center; align-items: center;"
                                    class="b11">
                                    <img src="assets/images/rabia/visible.png" alt="Check">
                                </button>
                                <button
                                    style="width:   49.2px; height: 49.2px; border-radius: 5px; display: flex; justify-content: center; align-items: center;"
                                    class="b11">
                                    <img src="assets/images/rabia/supprimer (1).png" alt="Check">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
            <div style="width: 16%;"></div>
            <div style="width: 68%; height:0.5px; background-color: #999;"></div>
            <div style="width: 16%;"></div>
        </div>



    </div>
</section>


<app-application [link]="link" [app]="app" [show]="isModalVisible" (close)="hideModal()"></app-application>





<br>
<br>


<section class="my-sections">
    <div class="container">
        <div class="section">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="section-title">APPLICATIONS</h2>

            </div>
            <div *ngIf="!apps.length" class="card">
                <br>
                <img style="width: 100px; height: 100px;" src="assets/images/rabia/mot-de-passe.png" alt="">
                <br>

                <p style=" color: #c8c5c5;">NO APPLICATIONS YET</p>
            </div>
            <div *ngIf="apps.length">
                <table>
                    <thead>
                        <tr>
                            <th>NEW</th>
                            <th>RESUME</th>

                            <th>CRETED</th>
                            <th>ACTION</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ap of apps; let i = index"
                            [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}">
                            <td>
                                <img *ngIf="false" style="margin-right: 5%; height: 35px; width: 35px;"
                                    src="assets/images/rabia/star (2).png" alt="Check">

                            </td>
                            <td>
                                <img (click)="view(ap.id)" class="b11"
                                    style="margin-right: 5%; height: 35px; width: 35px;"
                                    src="assets/images/rabia/oeil.png" alt="Check">
                            </td>
                            <td>{{ getTimeAgo(ap.creationDate!) }}</td>
                            <td></td>
                            <td class="actions">


                                <img *ngIf="!ap.status" class="b11" style="margin-right: 5%; height: 35px; width: 35px;"
                                    src="assets/images/rabia/horloge-murale (3).png" alt="Check">
                                <img (click)="discord()" *ngIf="ap.status" class="b11"
                                    style="margin-right: 5%; height: 35px; width: 35px;"
                                    src="assets/images/rabia/grouper.png" alt="Check">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>




    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<app-resumeapp [status]="stat" [items1]="items1" [items2]="items2" [items3]="items3" [resume]="resume"
    [show]="isModalVisibleapp" (close)="hideModalapp()"></app-resumeapp>
<app-discord [link_basic]="link" [show]="isModalVisibledisc" (close)="
    hideModaldisc()"></app-discord>