button {
    width: 70%;
    padding: 10px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(204, 204, 204, 0.5);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}









.b11 {
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
    position: relative;
}

.b11:hover {

    transform: translateY(1.5px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.b2:hover {
    background-color: #0273ac;
    color: rgba(255, 253, 253, 0.5);
    border: 2px solid #0273ac;

}

.b2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.1s ease, transform 0.1s ease;
}

.b2:hover::before {
    opacity: 1;
    transform: translateX(-50%) translateY(10px) scale(0.8);
}


.b2 {
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
    position: relative;
}



.b2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.1s ease, transform 0.1s ease;
}

.b2:hover::before {
    opacity: 1;
    transform: translateX(-50%) translateY(10px) scale(0.8);
}



.circle {

    display: flex;
    width: 30px;
    /* adjust size as needed */
    height: 30px;
    /* adjust size as needed */
    border-radius: 50%;
    background-color: transparent;
    /* transparent background */
    text-align: center;
    margin-top: 20px;
    /* should match the height to center text vertically */
    border: 1px solid rgb(151, 151, 151);
    /* adjust border size and color as needed */
    font-weight: bold;
    vertical-align: middle;

    justify-content: center;
    align-items: center;
    /* vertically align in table cell */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #858484;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0273ac
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-label {
    position: absolute;
    top: 50%;
    left: 4px;
    right: 4px;
    transform: translateY(-50%);
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    user-select: none;
    text-align: center;
    transition: .4s;
}

input:checked+.slider .switch-label {
    left: -20;

    color: rgb(246, 242, 242);
}

.switch-on {
    left: 0;

    color: white;
}

.switch-off {
    left: 13px;
    color: #ebe8e8;
}



.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 11, 32, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s forwards;
}

.modal-backdrop.fade-out {
    animation: fadeOut 0.5s forwards;
}

.modal-content {
    background: #312f41;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: slideIn 0.5s forwards;
    max-width: 80%;
    width: 1000px;
    position: relative;
}

.modal-content.fade-out {
    animation: slideOut 0.5s forwards;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #f0f2f5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #444;
    color: #ccc;
}

th {
    background-color: transparent;
    font-weight: bold;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #312f41;
}

tbody tr:nth-child(odd) {
    background-color: rgb(26 23 43);
}

// tbody tr:hover {
//     background-color: #741616;
// }

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}





.actions img {
    width: 20px;
}


.card {

    background: transparent;
    border-radius: 8px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
}



.circle {

    display: flex;
    width: 30px;
    /* adjust size as needed */
    height: 30px;
    /* adjust size as needed */
    border-radius: 50%;
    background-color: transparent;
    /* transparent background */
    text-align: center;
    margin-top: 20px;
    /* should match the height to center text vertically */
    border: 1px solid rgb(151, 151, 151);
    /* adjust border size and color as needed */
    font-weight: bold;
    vertical-align: middle;

    justify-content: center;
    align-items: center;
    /* vertically align in table cell */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #858484;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0273ac
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-label {
    position: absolute;
    top: 50%;
    left: 4px;
    right: 4px;
    transform: translateY(-50%);
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    user-select: none;
    text-align: center;
    transition: .4s;
}

input:checked+.slider .switch-label {
    left: -20;

    color: rgb(246, 242, 242);
}

.switch-on {
    left: 0;

    color: white;
}

.switch-off {
    left: 13px;
    color: #ebe8e8;
}